{% extends 'base.html' %}
{% load static %}
{% load gifs_tags %}


{% block main %}
<div class="ui divided items">
  {% for gif in gifs %}
    <div class="item">
      <div class="ui image" style="width:400px">
        <img src="{{ gif.url }}">
      </div>
      <div class="content">
        <a class="header">{{ gif.title }}</a>
        <div class="extra">
          <div class="date">{{ gif.get_date }}</div>
          <div class="ui label"><i class="heart icon"></i> {{ gif.likes }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock main %}


{% block title %}
<title>放松一下，看看抖奶</title>
{% endblock title %}

{% block tags %}
  <div class="item">
  <div class="ui blue segment" style="width:100%">
    <div class="content">
      <h3 class="header">归档</h3>
      {% archives as date_list %}
      <div class="ui list">
        {% for date in date_list %}
          <div class="item">
            <a href="{% url 'gifs:archives' date.year date.month %}"><i class="folder icon"></i>{{ date.year }}年{{ date.month }}月</a>
          </div>
          {% empty %}
          暂无归档！
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock tags %}