{% extends 'base.html' %}

{% load static %}
{% block main %}
  <div class="ui segment">
    <div class="content">
      <h3 class="header"><i class="book icon"></i>{{ post.title }}</h3>
      <div class="meta">
        <a href="{% url 'blog:category' post.category.pk %}" class="ui blue label" style="padding:4px">{{ post.category.name }}</a>
        <span class="date">{{ post.created_time }}</span>
      </div>
      <div class="ui hidden divider"></div>
      <div class="description">{{ post.body|safe }}</div>
    </div>
    <div class="extra content">
      <div class="ui hidden divider"></div>
      <h3 class="header"><i class="user icon"></i>{{ post.views }}阅读</h3>
    </div>

    <div class="ui horizontal divider"><h3 class="header">评论区</h3></div>

    <div class="ui comments">
      {% for comment in comment_list %}
      <div class="comment">
        <div class="content">
          <div class="author"><i class="red user icon"></i>{{ comment.name }}</div>
          <div class="metadata">
            <span class="date">{{ comment.created_time }}</span>
          </div>
          <div class="text">{{ comment.text|safe }}</div>
        </div>

      </div>
      {% empty %}
        <div class="content">暂无评论</div>
      {% endfor %}
    </div>

    <div class="ui horizontal divider"><h3 class="header">发表评论</h3></div>

    <form class="ui form" action="{% url 'comments:post_comment' post.pk %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="two fields">
          <div class="field">
          <label for="{{ form.name.id_for_label }}">名字：</label>
          {{ form.name }}
          {{ form.name.errors }}
        </div>
          <div class="field">
          <label for="{{ form.email.id_for_label }}">邮箱：</label>
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        </div>
        <div class="field">
          <label for="{{ form.text.id_for_label }}">评论：</label>
          {{ form.text }}
          {{ form.text.errors }}
          <button type="submit" class="ui button">发表</button>
        </div>
      </div>    <!-- row -->
    </form>



  </div>
{% endblock main %}

{% block title %}
<title>欢迎来到toosiki的博客--{{ post.title }}</title>
{% endblock title %}