{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block main %}
<div class="ui very relaxed divided items">
  {% for post in post_list %}
  <div class="item">
    <a href="{{ post.get_absolute_url }}" class="image" style="overflow:hidden;vertical-align:middle;height:150px">
      <img class="image" src="{{ post.image }}">
    </a>
{#    <div style="background-image:url({{ post.image }});background-repeat: no-repeat;background-position:center center;#}
{#     background-size: cover;width:150px;height:150px;margin-right:10px;">#}
{#    </div>#}
    <div class="content">
      <a class="header" href="{{ post.get_absolute_url }}"><i class="book icon"></i>{{ post.title }}</a>
      <div class="meta">
        <span class=""><i class="write icon"></i>{{ post.author }}</span>
        <span class=""><i class="bullseye icon"></i>{{ post.get_date }}</span>
        <span class=""><i class="unhide icon"></i>{{ post.views }}次阅读</span>
      </div>

      <div class="description">
        <p>{{ post.excerpt }}</p>
      </div>
      <div class="meta">
        <div><a href="{% url 'blog:category' post.category.pk %}" class="ui blue label" style="padding:4px">{{ post.category.name }}</a></div>
        {% for tag in post.tags.all %}
        <span><a href="{% url 'blog:tag' tag.pk %}"><i class="tags icon"></i>{{ tag.name }}</span></a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% empty %}
  <div class="item">暂未发布文章</div>
  {% endfor %}
</div>
{% endblock main %}

{% block title %}
<title>{{ from }}--欢迎来到toosiki的博客</title>
{% endblock title %}


{% block tags %}
<div class="item">
  <div class="ui blue segment" style="width:100%">
  <div class="content">
    <h3 class="header">最新文章</h3>
    {% get_recent_posts as recent_post_list %}
    <div class="ui list">
      {% for post in recent_post_list %}
      <div class="item">
        <a href="{{ post.get_absolute_url }}"><i class="file icon"></i>{{ post.title }}</a>
      </div>
      {% empty %}
      暂无文章！
      {% endfor %}
    </div>
  </div>
</div>
</div>

<div class="item">
  <div class="ui blue segment" style="width:100%">
    <div class="content">
      <h3 class="header">分类</h3>
      {% get_categories as category_list %}
      <div class="ui list">
        {% for category in category_list %}
          <div class="item">
            <a href="{% url 'blog:category' category.pk %}"><i class="folder icon"></i>{{ category }}
              <span class="content">({{ category.num_posts }})</span>
            </a>
          </div>
          {% empty %}
          暂无分类！
        {% endfor %}
    </div>
  </div>


  </div>

</div>

<div class="item">
  <div class="ui blue segment" style="width:100%">
    <div class="content">
      <h3 class="header">归档</h3>
      {% archives as date_list %}
      <div class="ui list">
        {% for date in date_list %}
          <div class="item">
            <a href="{% url 'blog:archives' date.year date.month %}"><i class="folder icon"></i>{{ date.year }}年{{ date.month }}月</a>
          </div>
          {% empty %}
          暂无归档！
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="item">
  <div class="ui blue segment" style="width:100%">
    <div class="content">
      <h3 class="header">标签</h3>
      {% get_tags as tag_list %}
        {% for tag in tag_list %}
          <span class="item">
            <a class="ui basic label" href="{% url 'blog:tag' tag.pk %}" style="margin:2px"><i class="tag icon"></i>{{ tag.name }}
              <span class="content">({{ tag.num_posts }})</span>
            </a>
          </span>
        {% empty %}
        暂无标签！
        {% endfor %}
    </div>
  </div>


  </div>
{% endblock tags %}
