{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
  <link rel="stylesheet" href="{% static 'css/github.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/semantic.js' %}"></script>
  <script src="{% static 'js/exporting.js' %}"></script>
  <script src="{% static 'js/highcharts-more.js' %}"></script>
  <script src="{% static 'js/highcharts.js' %}"></script>
  <meta charset="UTF-8">
  {% block title %}
  {% endblock title %}
</head>
<body>
  <div class="ui container" >
    <div class="ui borderless fluid grey menu" >
      <div class="item"><img class="ui image" style="width:40px" src="{% static 'images/merlin-logo.jpg' %}"></div>
      <div class="right fluid menu" style="width:90%">
        <a class="active item" href="{% url 'blog:index' %}">博客</a>
        <a class="item"  href="{% url 'gifs:gifs' %}">GIFS</a>
        <a class="item"  >主页3</a>
      </div>

    </div>

    <div class="ui divider"></div>

    <div class="ui basic segment">
      <div class="ui grid">
        <div class="twelve wide column" style="padding: 0 10px 0 0 ">
          {% block main %}
          {% endblock main %}
        <div class="ui hidden divider"></div>
        {% if is_paginated %}
<div class="ui pagination menu">
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="item">上一页</a>
{% endif %}
{% if first %}
<a href="?page=1" class="item">1</a>
{% endif %}
{% if left %}
{% if left_has_more %}
    <span class="item">...</span>
{% endif %}
{% for i in left %}
    <a href="?page={{ i }}" class="item">{{ i }}</a>
{% endfor %}
{% endif %}
<a class="item" href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
{% if right %}
{% for i in right %}
    <a href="?page={{ i }}" class="item">{{ i }}</a>
{% endfor %}
{% if right_has_more %}
    <span class="item">...</span>
{% endif %}
{% endif %}
{% if last %}
<a href="?page={{ paginator.num_pages }}" class="item">{{ paginator.num_pages }}</a>
{% endif %}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="item">下一页</a>
{% endif %}
</div>
{% endif %}
        </div>

{#          <div class="one wide column" style="padding: 0">#}
{#            <div class="ui vertical divider"></div>#}
{#          </div>#}
        <div class="four wide column" style="padding: 0 0 0 10px ">
          <div class="ui items">

            {% block toc %}
            {% endblock toc %}

            {% block tags %}
            {% endblock tags %}

            </div>
          </div>

      </div>

    </div>
    <div class="ui divider"></div>
  </div>
</body>

</html>