{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <meta charset="UTF-8">
    <title>主页</title>
  </head>
  <body>
    <div class="ui container ">
      <div class="ui basic segment" style="border: 0;margin: 0;">
        <div class="ui grid">
          <div class="four wide column">
            <img class="ui bottom aligned small image" src="../static/images/merlin-logo.jpg">
          </div>
        </div>
      </div>
      {% if is_paginated %}
      <div class="ui pagination right menu">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="item">上一页</a>
        {% endif %}
        {% if first %}
          <a href="?page=1" class="item">1</a>
        {% endif %}
        {% if left %}
          {% if left_has_more %}
              <span class="item">...</span>
          {% endif %}
          {% for i in left %}
              <a href="?page={{ i }}" class="item">{{ i }}</a>
          {% endfor %}
        {% endif %}
        <a class="item" href="?page={{ page_obj.number }}" style="color: #ff100e">{{ page_obj.number }}</a>
        {% if right %}
          {% for i in right %}
              <a href="?page={{ i }}" class="item">{{ i }}</a>
          {% endfor %}
          {% if right_has_more %}
              <span class="item">...</span>
          {% endif %}
        {% endif %}
        {% if last %}
          <a href="?page={{ paginator.num_pages }}" class="item">{{ paginator.num_pages }}</a>
        {% endif %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="item">下一页</a>
        {% endif %}
      </div>
      {% endif %}
      <div class="ui divider"></div>
      <div class="ui container segment">
        {% for item in gifs %}
        <div class="ui vertical segment">
          <h1 class="ui center aligned header">{{ item.title }}</h1>
          <img class="ui centered image" src="{{ item.url }}">
          <h5 class="ui center aligned header">{{ item.created_time }}</h5>
        </div>
        {% endfor %}
      </div>
      <div class="ui divider"></div>
      {% if is_paginated %}
      <div class="ui pagination menu">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="item">上一页</a>
        {% endif %}
        {% if first %}
          <a href="?page=1" class="item">1</a>
        {% endif %}
        {% if left %}
          {% if left_has_more %}
              <span class="item">...</span>
          {% endif %}
          {% for i in left %}
              <a href="?page={{ i }}" class="item">{{ i }}</a>
          {% endfor %}
        {% endif %}
        <a class="item" href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
        {% if right %}
          {% for i in right %}
              <a href="?page={{ i }}" class="item">{{ i }}</a>
          {% endfor %}
          {% if right_has_more %}
              <span class="item">...</span>
          {% endif %}
        {% endif %}
        {% if last %}
          <a href="?page={{ paginator.num_pages }}" class="item">{{ paginator.num_pages }}</a>
        {% endif %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="item">下一页</a>
        {% endif %}
      </div>
      {% endif %}
      <div class="ui divider"></div>
    </div>



    <script>
        $('#category').click(function () {
            $('#sidebar1').sidebar('toggle');
        });
    </script>


  </body>
</html>